In [1]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
edge_driver_path = 'C:\webdrivers\msedgedriver.exe'
service = webdriver.edge.service.Service(edge_driver_path)
driver = webdriver.Edge(service=service)

driver.get('https://doh.gov.ph/doh-budget')
driver.maximize_window()

In [3]:
#year
budget_year = driver.find_elements(By.XPATH, '//tbody/tr/td[1]')

#ps
budget_ps = driver.find_elements(By.XPATH, '//tbody/tr/td[2]')

#mooe
budget_mooe = driver.find_elements(By.XPATH, '//tbody/tr/td[3]')

#co
budget_co = driver.find_elements(By.XPATH, '//tbody/tr/td[4]')

#total
budget_total = driver.find_elements(By.XPATH, '//tbody/tr/td[5]')

In [4]:
budget_results = []

In [5]:
for i in range(len(budget_year)):
    budget_dictionary={
        'Year':budget_year[i].text,
        'PS':budget_ps[i].text,
        'MOOE':budget_mooe[i].text,
        'CO':budget_co[i].text,
        'Total':budget_total[i].text}
    
    budget_results.append(budget_dictionary)

In [6]:
dataframe_budget = pd.DataFrame(budget_results)

In [7]:
dataframe_budget

    Year              PS            MOOE              CO            Total
0   2020  46,192,460,000  42,176,498,000  12,192,327,000  100,559,985,000
1   2019  42,835,960,000  37,996,847,000  16,820,826,000   97,653,633,000
2   2018  33,898,293,000  40,897,030,000  31,286,773,000  106,082,096,000
3   2017  27,980,471,000  39,738,421,000  27,555,183,000   95,274,075,000
4   2016  21,012,441,000  74,077,638,000  27,540,074,000  112,630,153,000
5   2015  10,510,714,000  62,837,166,000  13,620,817,000   86,968,697,000
6   2014  10,768,046,000  58,749,635,000  14,203,240,000   83,720,921,000
7   2013   8,866,448,000  30,489,783,000  11,086,068,000   50,442,299,000
8   2012   7,633,148,000  25,994,815,000   8,528,000,000   42,155,963,000
9   2011   7,709,552,000  15,192,127,000   8,926,937,000   31,828,616,000
10  2010   6,866,566,000  11,316,923,000   6,466,276,000   24,649,765,000
11  2009   6,727,340,000  10,584,705,000   6,354,610,000   23,666,655,000
12  2008   5,832,513,000  10,643,479,000   2,436,018,000   18,912,010,000
13  2007   5,789,064,000   4,639,809,000     969,898,000   11,398,771,000
14  2006   5,397,944,000   3,760,310,000     299,031,000    9,457,285,000
15  2005   5,397,944,000   3,942,388,000     384,986,000    9,725,318,000
16  2004   5,368,302,000   3,789,927,000     405,575,000    9,563,804,000
17  2003   5,368,302,000   3,807,988,000     730,000,000    9,906,290,000
18  2002   5,404,739,000   5,115,498,000     899,000,000   11,419,237,000
19  2001   5,020,223,000   4,392,428,000      43,612,000    9,456,263,000
20  2000   5,028,963,000   5,313,600,000     396,342,000   10,738,905,000
21  1999   5,042,874,000   5,300,903,000     922,061,000   11,265,838,000
22  1998   4,967,983,000   5,435,953,000   2,539,281,000   12,943,217,000
23  1997   3,965,000,000   4,537,828,000   2,435,029,000   10,937,857,000
24  1996   3,370,752,000   4,089,307,000   1,777,494,000    9,237,553,000
25  1995   2,872,405,000   3,595,884,000   2,065,787,000    8,534,076,000
26  1994   2,274,670,000   3,679,651,000   1,377,870,000    7,332,191,000
27  1993   2,227,344,000   3,862,613,000     824,775,000    6,914,732,000
28  1992   5,089,652,000   4,710,415,000     427,677,000   10,227,744,000
29  1991   2,970,670,000   3,882,689,000     319,392,000    7,172,751,000

In [8]:
dataframe_budget.to_excel('DOH_budget_database.xlsx', index=False)