In [19]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [21]:
edge_driver_path = 'C:\webdrivers\msedgedriver.exe'
service = webdriver.edge.service.Service(edge_driver_path)
driver = webdriver.Edge(service=service)

driver.get('https://pokemondb.net/pokedex/all')
driver.maximize_window()

# CREATE LOCATORS (Scraping)

In [22]:
#number
pokemon_number = driver.find_elements(By.XPATH, '//tbody/tr/td[1]')

#name
pokemon_name = driver.find_elements(By.XPATH,'//tbody/tr/td[2]')

#type
pokemon_type = driver.find_elements(By.XPATH,'//tbody/tr/td[3]')

#total
pokemon_total = driver.find_elements(By.XPATH,'//tbody/tr/td[4]')

#HP
pokemon_hp = driver.find_elements(By.XPATH,'//tbody/tr/td[5]')

#Attack
pokemon_attack = driver.find_elements(By.XPATH,'//tbody/tr/td[6]')

#Defense
pokemon_defense = driver.find_elements(By.XPATH,'//tbody/tr/td[7]')

#Sp.Atk
pokemon_sp_attack = driver.find_elements(By.XPATH,'//tbody/tr/td[8]')

#SP.Def
pokemon_sp_defense = driver.find_elements(By.XPATH,'//tbody/tr/td[9]')

#Speed
pokemon_speed = driver.find_elements(By.XPATH,'//tbody/tr/td[10]')

In [23]:
pokemon_results = []

In [24]:
for i in range(len(pokemon_number)):
    pokemon_dictionary={
        'Number':pokemon_number[i].text,
        'Name':pokemon_name[i].text,
        'Type':pokemon_type[i].text,
        'Total':pokemon_total[i].text,
        'HP':pokemon_hp[i].text,
        'Attack':pokemon_attack[i].text,
        'Defense':pokemon_defense[i].text,
        'SP.Attack':pokemon_sp_attack[i].text,
        'SP.Defense':pokemon_sp_defense[i].text,
        'Speed':pokemon_speed[i].text}
    
    pokemon_results.append(pokemon_dictionary)

In [25]:
dataframe_pokemon = pd.DataFrame(pokemon_results)

In [26]:
dataframe_pokemon

,Number,Name,Type,Total,HP,Attack,Defense,SP.Attack,SP.Defense,Speed
0,0001,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,0002,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,0003,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,0003,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,0004,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
1190,1006,Iron Valiant,FAIRY\nFIGHTING,590,74,130,90,120,60,116
1191,1007,Koraidon,FIGHTING\nDRAGON,670,100,135,115,85,100,135
1192,1008,Miraidon,ELECTRIC\nDRAGON,670,100,85,100,135,115,135
1193,1009,Walking Wake,WATER\nDRAGON,590,99,83,91,125,83,109
1194,1010,Iron Leaves,GRASS\nPSYCHIC,590,90,130,88,70,108,104

Data Cleaning

In [29]:
#replace '\n' with '/'
dataframe_pokemon['Name'] = dataframe_pokemon['Name'].apply(lambda x: x.replace('\n', '/'))

In [27]:
#replace '\n' with a comma
dataframe_pokemon['Type'] = dataframe_pokemon['Type'].apply(lambda x: x.replace('\n', ','))

In [30]:
#updated dataframe
dataframe_pokemon

,Number,Name,Type,Total,HP,Attack,Defense,SP.Attack,SP.Defense,Speed
0,0001,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,0002,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,0003,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,0003,Venusaur/Mega Venusaur,"GRASS,POISON",625,80,100,123,122,120,80
4,0004,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
1190,1006,Iron Valiant,"FAIRY,FIGHTING",590,74,130,90,120,60,116
1191,1007,Koraidon,"FIGHTING,DRAGON",670,100,135,115,85,100,135
1192,1008,Miraidon,"ELECTRIC,DRAGON",670,100,85,100,135,115,135
1193,1009,Walking Wake,"WATER,DRAGON",590,99,83,91,125,83,109
1194,1010,Iron Leaves,"GRASS,PSYCHIC",590,90,130,88,70,108,104

Saving dataframe to excel

In [34]:
#install openpyxl to prevent error
dataframe_pokemon.to_excel('pokemon_database_cleaned.xlsx', index=False)